* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	transition:.5s;
	font-family:'Helvetica', sans-serif;
}
:root {
	--black:#e3e3e3;
	--red:;
	--blue:;
	--white:;
}
body {
	background-color:var(--black);
}
