@import url("https://use.typekit.net/cgy5oic.css");

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  transition:.5s;
  font-family:var(--text);
}
:root {
/*
      Font-family+Stylings
*/
--heading: 'hwt-artz', sans-serif;
--text: 'pt-sans-pro', sans-serif;
--regular:300;
--bold:700;
--extrabold:900;

/*
      Colours
*/

--black:#3c3c3c;
--white:#f6f6f6;
--green:#3ade01;
--greenQ:#4c5230;
--greenSvar:#b6b9a1;
--yellow:#f3fb43;
--orange:#e9ba74;
--blue:#d7e0e0;
--bcg:#c4bbb2;
--red:#CC0000;
}
::selection {
  background-color:var(--white);
  color:var(--black);
}
