@import url("https://use.typekit.net/cgy5oic.css");

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}
:root {
/*
      Font-family+Stylings
*/
--heading: 'hwt-artz', sans-serif;
--text: 'pt-sans-pro', sans-serif;
--regular:300;
--bold:700;
--extrabold:900;

/*
      Colours
*/

--black:#3c3c3c;
--white:#f6f6f6;
--green:#3ade01;
--yellow:#f3fb43;
--blue:#3f496c;
}
::selection {
  background-color:var(--white);
  color:var(--black);
}
