@import url("../../cssglobal/style.css");

header {
	position:absolute;
	z-index: -1;
	height:100vh;
	padding:30px;
	width:100%;
	background-size:cover;
	background:fixed no-repeat;
}

header > h1 {
	font-family:var(--heading);
	position:absolute;
	top:30px;
	right:30px;

}
header > .logo {
	position:absolute;
	top:50px;
	left:50px;
	width:200px;
}

.wrapper{
	background-image:url('../img/forgrund.svg');
	height:300vh;
	width:100%;
	background-position: top;
	background-size:cover;
	position:relative;
	z-index:0;
	padding-top:100vh;
}
main {
	width:100%;
	min-height:10vh;
	position:relative;
}
main > .gif {
	width:200px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#mand-med-ipad {
	position:absolute;
	top:-185px;
	right:500px;
}
#liggende-par {
	position:absolute;
	left:200px;
	top:50px;
}
#liggende-par > .gifWrap {
	position:relative;
	height:200px;
	width:200px;
}
#liggende-par > .gifWrap > img {
	position:absolute;
	left:0;
}

#liggende-par > .gifWrap > img:nth-child(1) {
	position:absolute;
	left:0px;
	bottom:-10px;
}
#liggende-par > .gifWrap > img:nth-child(2) {
	position:absolute;
	left:-20px;
	bottom:5px;
}

main>.gif>img {
	width:100%;
}
.gif > .txt {
	width:200%;
	margin-top:-10px;
	min-height:80px;
	cursor:pointer;
}
.txt > h2{
	font-family:var(--heading);
	display:flex;
	background-color:var(--white);
	border:6px solid var(--orange);
	border-radius:15px;
	justify-content: center;
	font-size:40px;
	color:var(--greenQ);
	width:100%;
	height:80px;
	line-height:80px;
	position: relative;
	transition:.6s;
}
.txt > h2 {
	position:relative;
}
.txt>h2::after {
	content:'';
	position:absolute;
	width:0;
	bottom:10px;
	background-color:var(--black);
	height:2px;
	transition:.6s ease;
}
.txt:hover > h2::after {
	width:85%;
}
.p-txt {
	display:block;
	height:0;
	background-color:var(--white);
	border:6px solid var(--orange);
	opacity:0;
	width:100%;
	overflow:hidden;
}
.opentxt {
	opacity:1;
	border-radius:15px;
	height:400px !important;
	width: 180% !important;
}
