@import url("../../cssglobal/style.css");

header {
	position:absolute;
	z-index: -1;
	height:100vh;
	padding:30px;
	width:100%;
	background-size:cover;
	background:fixed no-repeat;
}

header > h1 {
	font-family:var(--heading);
	position:absolute;
	top:30px;
	right:30px;

}
header > .logo {
	position:absolute;
	top:50px;
	left:50px;
	width:200px;
}

.wrapper{
	background-image:url('../img/forgrund.svg');
	height:300vh;
	width:100%;
	background-position: top;
	background-size:cover;
	position:relative;
	z-index:0;
	padding-top:100vh;
}
main {
	width:100%;
	min-height:10vh;
	position:relative;
}
main > .gif {
	width:200px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#mand-med-ipad {
	position:absolute;
	top:-185px;
	z-index:4;
	right:500px;
}
#liggende-par {
	position:absolute;
	left:200px;
	z-index:4;
	top:50px;
}
#liggende-par > .gifWrap {
	position:relative;
	height:200px;
	width:200px;
}
#liggende-par > .gifWrap > img {
	position:absolute;
	left:0;
}

#liggende-par > .gifWrap > img:nth-child(1) {
	position:absolute;
	left:0px;
	bottom:-10px;
}
#liggende-par > .gifWrap > img:nth-child(2) {
	position:absolute;
	left:-20px;
	bottom:5px;
}
#mand-med-hund {
	position:absolute;
	right:200px;
	top:50vh;
	width:250px;
}
main>.gif>img {
	width:100%;
}
.gif > .txt {
	width:200%;
	margin-top:-10px;
	min-height:80px;
	cursor:pointer;
}
.txt > h2{
	font-family:var(--heading);
	display:flex;
	background-color:var(--white);
	border:6px solid var(--orange);
	border-radius:15px;
	justify-content: center;
	font-size:40px;
	color:var(--greenQ);
	width:120%;
	height:80px;
	align-items: center;
	position: relative;
	transition:.6s;
}
.txt > h2 > i {
	margin-left:10px;
}
.txt > h2::after {
	content:'';
	position:absolute;
	width:0;
	bottom:10px;
	background-color:var(--black);
	height:2px;
	transition:.6s ease;
}
.txt:hover > h2::after {
	width:85%;
}
.p-txt {
	display:block;
	height:0;
	background-color:var(--white);
	border:6px solid var(--orange);
	opacity:0;
	width:100%;
	overflow:hidden;
	padding:20px;
}
.p-txt {
	font-size:16px;
}
.p-txt ul {
	margin:20px 50px;
}
.p-txt ul > li {
	margin:10px 0;
}
.p-txt a {
	color:var(--darkblue);
}
.opentxt p {
	margin:20px;
	font-size:20px;
	line-height:1.5em;
}
.opentxt h3 {
	margin:30px 20px -35px 20px;
}
#mand-med-ipad > .txt > .opentxt {
	opacity:1;
	border-radius:15px;
	height:800px !important;
	z-index:4;
	width: 180% !important;
}
#liggende-par > .txt > .opentxt {
	opacity:1;
	border-radius:15px;
	height:300px !important;
	width: 180% !important;
}

.anmeldelser {
	position:absolute;
	top:100vh;
	display:flex;
	width:100%;
	justify-content: center;
	flex-direction: column;
	align-items:center;
}
.anmeldelser > div {
	display:flex;
	justify-content: space-around;
}
.anmeldelser > div >div> img {
	width:250px;
	position: absolute;
	top:-20px;
	left:-25px;
}
.anmeldelser >h2 {
	font-family:var(--heading);
	display:flex;
	background-color:var(--white);
	border:6px solid var(--orange);
	border-radius:15px;
	justify-content: center;
	font-size:40px;
	color:var(--greenQ);
	height:80px;
	align-items: center;
	position: relative;
	transition:.6s;
	padding:0 60px;
}
.anmeldelser > div > div {
	width:200px;
	height:200px;
	position:relative;
	margin:20px;
	background-color:var(--white);
	border-radius:100%;
}
.anmeldelse {
	background:url('../img/talebobbel.svg') no-repeat;
	background-size:100%;
	margin-top:120px;
	margin-left:-40px;
	padding:50px 40px;
	overflow:hidden;
	font-size:20px;
		width:400px;
			display:flex;
			justify-content: center;
			align-items:center;
			position:relative;
	opacity:0;
	font-style:italic;
	z-index:4;
}
#an1 {
	height:400px;
	padding:40px 60px;
	margin-left:-30px;
}

#an2 {
	height:300px;
	width:300px;
	margin-top:140px;
	margin-left:0px;
}
#an3 {
	height:500px;
	width:500px;

	margin-top:120px;
	margin-left:-60px;
	padding:40px 60px;
}
.anmeldelse:first-child {
	height:2500px;
}
.openanmeldelse{
		opacity:1;
}
footer {
	width:100%;
	display:flex;
	justify-content: space-around;
	height:40vh;
	z-index:4;
	position:relative;
}
footer > div {
	width:25%;
	display:flex;
	flex-direction:column;
	align-items: center;
}
footer > div > h3 {
	padding:10px 25px;
	border-radius:15px;
	font-family:var(--heading);
	color:var(--greenQ);
	font-size:32px;
	width:250px;
	margin-bottom:10px;
	text-align:center;
	border:4px solid var(--orange);
}
footer h4 {
	color:var(--greenQ);
	text-align:left;
	width:250px;
	font-weight:700;
	font-size:21px;
	margin:10px;
	margin-bottom:-10px;
}
footer > div > p {
	font-size:20px;
	width:300px;
	margin:10px 0 10px 50px;
}
footer > div > p > a {
	font-size:20px;
	float:right;
}
footer > div > div {
	display:flex;
	justify-content: center;

}
footer > div a {
	text-decoration: none;
	color:var(--black);
	font-size:32px;
	transition:.2s;
	margin:0 20px;
}
footer > div a:hover {
	color:var(--orange);
}
