@import url("../../cssglobal/style.css");

.wrapper{
	background-image:url('../img/forgrund.svg');
	height:300vh;
	width:100%;
	background-position: top;
	background-size:cover;
	position:relative;
	z-index:0;
}
header {
	position:absolute;
	z-index: -1;
	height:80vh;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background:fixed;
}
